In [1]:
import pandas as pd
import numpy as np

In [2]:
#opening the csv
dataset = pd.read_csv('data_100000.csv')
dataset.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,09/03/2015,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,09/05/2015,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,09/05/2015,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,08/30/2015,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

In [3]:
#Getting the sum of the NaN values 
dataset.isnull().sum()

created_at       0
tree_id          0
block_id         0
the_geom         0
tree_dbh         0
stump_diam       0
curb_loc         0
status           0
health        4993
spc_latin     4992
spc_common    4992
steward       4992
guards        4992
sidewalk      4992
user_type        0
problems      4992
root_stone       0
root_grate       0
root_other       0
trnk_wire        0
trnk_light       0
trnk_other       0
brnch_ligh       0
brnch_shoe       0
brnch_othe       0
address          0
zipcode          0
zip_city         0
cb_num           0
borocode         0
boroname         0
cncldist         0
st_assem         0
st_senate        0
nta              0
nta_name         0
boro_ct          0
state            0
latitude         0
longitude        0
x_sp             0
y_sp             0
dtype: int64

In [4]:
#Replace the NaN value by 'Unknow' in order to keep the rest of rows datas.
datasetLT = dataset.fillna('Unknown')
datasetLT

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,09/03/2015,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,09/05/2015,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,09/05/2015,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,08/30/2015,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,10/08/2015,299309,409877,POINT (-74.2476220025519 40.50285270258401),7,0,OnCurb,Alive,Fair,Pyrus calleryana,...,62,24,SI11,Charleston-Richmond Valley-Tottenville,5024402,New York,40.502853,-74.247622,9.153862e+05,122576.815592
99996,10/08/2015,299310,409877,POINT (-74.24760188461457 40.50279600610096),7,0,OnCurb,Alive,Good,Pyrus calleryana,...,62,24,SI11,Charleston-Richmond Valley-Tottenville,5024402,New York,40.502796,-74.247602,9.153918e+05,122556.144045
99997,10/10/2015,307148,323051,POINT (-73.7512941078738 40.777061235064345),3,0,OnCurb,Alive,Good,Pyrus calleryana,...,26,11,QN45,Douglas Manor-Douglaston-Little Neck,4148300,New York,40.777061,-73.751294,1.053132e+06,222478.970118
99998,10/08/2015,297724,415760,POINT (-74.14599626668874 40.55119304411556),5,0,OnCurb,Alive,Good,Pyrus calleryana,...,64,24,SI54,Great Kills,5013203,New York,40.551193,-74.145996,9.436777e+05,140124.806743
99999,10/02/2015,277768,100613,POINT (-74.01358936114298 40.717426536991724),8,0,OnCurb,Alive,Good,Pyrus calleryana,...,66,26,MN25,Battery Park City-Lower Manhattan,1031703,New York,40.717427,-74.013589,9.804829e+05,200654.644016

In [5]:
#checking of dtype
datasetLT.dtypes

created_at     object
tree_id         int64
block_id        int64
the_geom       object
tree_dbh        int64
stump_diam      int64
curb_loc       object
status         object
health         object
spc_latin      object
spc_common     object
steward        object
guards         object
sidewalk       object
user_type      object
problems       object
root_stone     object
root_grate     object
root_other     object
trnk_wire      object
trnk_light     object
trnk_other     object
brnch_ligh     object
brnch_shoe     object
brnch_othe     object
address        object
zipcode         int64
zip_city       object
cb_num          int64
borocode        int64
boroname       object
cncldist        int64
st_assem        int64
st_senate       int64
nta            object
nta_name       object
boro_ct         int64
state          object
latitude      float64
longitude     float64
x_sp          float64
y_sp          float64
dtype: object

In [6]:
#checking if there is dataset
datasetLT.duplicated().value_counts()

False    100000
dtype: int64

In [7]:
#checking of the shape
datasetLT.shape

(100000, 42)

In [8]:
#checking of statistical datas
datasetLT.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
created_at,100000,146,09/23/2015,3916,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tree_id,100000,NaN,NaN,NaN,233739,42482.7,7,208735,235822,264692,318496
block_id,100000,NaN,NaN,NaN,289399,122324,100002,212550,305825,347898,516315
the_geom,100000,99962,POINT (-73.95680061508556 40.61596593024687),17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tree_dbh,100000,NaN,NaN,NaN,11.2617,8.54465,0,5,10,16,425
stump_diam,100000,NaN,NaN,NaN,0.47271,3.4573,0,0,0,0,140
curb_loc,100000,2,OnCurb,96129,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,100000,3,Alive,95008,NaN,NaN,NaN,NaN,NaN,NaN,NaN
health,100000,4,Good,72340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spc_latin,100000,126,Platanus x acerifolia,11976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spc_common,100000,126,London planetree,11976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
steward,100000,5,None,65996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
guards,100000,5,None,78958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sidewalk,100000,3,NoDamage,65686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_type,100000,3,Volunteer,45924,NaN,NaN,NaN,NaN,NaN,NaN,NaN
problems,100000,152,None,55672,NaN,NaN,NaN,NaN,NaN,NaN,NaN
root_stone,100000,2,No,75740,NaN,NaN,NaN,NaN,NaN,NaN,NaN
root_grate,100000,2,No,99043,NaN,NaN,NaN,NaN,NaN,NaN,NaN
root_other,100000,2,No,93909,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trnk_wire,100000,2,No,97838,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trnk_light,100000,2,No,99794,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trnk_other,100000,2,No,94332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
brnch_ligh,100000,2,No,90049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
brnch_shoe,100000,2,No,99935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
brnch_othe,100000,2,No,94751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
address,100000,66793,28-055 ULMER STREET,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zipcode,100000,NaN,NaN,NaN,10824.8,835.683,83,10309,11208,11356,11697
zip_city,100000,47,Brooklyn,26795,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cb_num,100000,NaN,NaN,NaN,316.045,125.876,101,210,314,411,503
borocode,100000,NaN,NaN,NaN,3.08383,1.26494,1,2,3,4,5
boroname,100000,5,Queens,32562,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cncldist,100000,NaN,NaN,NaN,27.3375,15.1847,1,14,26,40,51
st_assem,100000,NaN,NaN,NaN,52.3236,18.4403,23,35,52,67,87
st_senate,100000,NaN,NaN,NaN,21.3952,7.4755,10,14,22,27,36
nta,100000,188,QN43,3149,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nta_name,100000,188,Bellerose,3149,NaN,NaN,NaN,NaN,NaN,NaN,NaN
boro_ct,100000,NaN,NaN,NaN,3.12815e+06,1.27894e+06,1.0002e+06,2.0288e+06,3.0593e+06,4.0803e+06,5.0319e+06
state,100000,1,New York,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,100000,NaN,NaN,NaN,40.7111,0.0894804,40.4985,40.638,40.7236,40.7708,40.9128
longitude,100000,NaN,NaN,NaN,-73.9271,0.115706,-74.2544,-73.9773,-73.9385,-73.8495,-73.7005
x_sp,100000,NaN,NaN,NaN,1.00444e+06,32093.2,913509,990535,1.00128e+06,1.02589e+06,1.06725e+06
y_sp,100000,NaN,NaN,NaN,198396,32599.8,120974,171706,202947,220095,271853

In [9]:
#Checking of the value of stump_diam
datasetLT['stump_diam'].value_counts()

0      97169
5        145
12       136
4        133
6        127
       ...
109        1
72         1
140        1
49         1
78         1
Name: stump_diam, Length: 75, dtype: int64

In [10]:
#check if columns might have problems and  are consolidated
datasetLT.zip_city.unique()
datasetLT.boroname.unique()
datasetLT.user_type.unique()
datasetLT.guards.unique()
datasetLT.steward.unique()
datasetLT.created_at.unique()
datasetLT.health.unique()
datasetLT.nta_name.unique()

array(['Forest Hills', 'Whitestone', 'East Williamsburg',
       'Park Slope-Gowanus', 'Lincoln Square', 'Clinton',
       'Grasmere-Arrochar-Ft. Wadsworth', 'Gravesend', 'Steinway',
       'Great Kills', 'Clinton Hill', 'Brownsville', 'Bensonhurst East',
       'Flatbush', 'Corona', 'Fort Greene',
       'Upper East Side-Carnegie Hill', 'Upper West Side',
       'Oakwood-Oakwood Beach', 'Kew Gardens', 'Ocean Parkway South',
       'Chinatown', 'Ridgewood', 'East Tremont',
       'Old Town-Dongan Hills-South Beach', 'New Dorp-Midland Beach',
       'Sheepshead Bay-Gerritsen Beach-Manhattan Beach',
       'Stuyvesant Town-Cooper Village',
       'SoHo-TriBeCa-Civic Center-Little Italy',
       'Todt Hill-Emerson Hill-Heartland Village-Lighthous', 'Madison',
       'Queensboro Hill', "Annadale-Huguenot-Prince's Bay-Eltingville",
       'Belmont', 'Mount Hope', 'Arden Heights', 'Murray Hill-Kips Bay',
       'West Village', 'Carroll Gardens-Columbia Street-Red Hook',
       'Morningside Heights', 'Jackson Heights', 'Norwood',
       'University Heights-Morris Heights', 'Brighton Beach', 'Bay Ridge',
       'Midwood', 'Murray Hill', 'Rugby-Remsen Village', 'Flushing',
       'Far Rockaway-Bayswater', 'Bushwick North',
       'Hammels-Arverne-Edgemere', 'Fordham South',
       'Springfield Gardens South-Brookville', 'Rego Park',
       'Queens Village', 'Prospect Heights', 'Bensonhurst West',
       'Erasmus', 'Woodlawn-Wakefield', 'East Elmhurst',
       'Lenox Hill-Roosevelt Island', 'Astoria', 'Gramercy', 'Woodhaven',
       'Breezy Point-Belle Harbor-Rockaway Park-Broad Chan',
       'Kensington-Ocean Parkway', 'Fresh Meadows-Utopia', 'Auburndale',
       'Greenpoint', 'New Springville-Bloomfield-Travis',
       'Van Cortlandt Village', 'Flatlands', 'Homecrest',
       'Midtown-Midtown South', 'Glendale',
       'Battery Park City-Lower Manhattan', 'Central Harlem South',
       'Hunters Point-Sunnyside-West Maspeth', 'Borough Park',
       'St. Albans', 'Laurelton', 'Bayside-Bayside Hills',
       'Oakland Gardens', 'Jamaica Estates-Holliswood', 'College Point',
       'Claremont-Bathgate', 'Turtle Bay-East Midtown', 'Highbridge',
       'Douglas Manor-Douglaston-Little Neck', 'Crown Heights North',
       'North Side-South Side', 'Pelham Parkway', 'Old Astoria',
       'Lindenwood-Howard Beach', 'East New York', 'Bushwick South',
       'Ocean Hill', 'Prospect Lefferts Gardens-Wingate',
       'Lower East Side', 'Hudson Yards-Chelsea-Flatiron-Union Square',
       'Sunset Park East', 'Bedford', 'West Farms-Bronx River',
       'Richmond Hill', 'Westerleigh',
       'Schuylerville-Throgs Neck-Edgewater Park',
       'Georgetown-Marine Park-Bergen Beach-Mill Basin', 'Yorkville',
       'Eastchester-Edenwald-Baychester', 'Elmhurst-Maspeth',
       'Stuyvesant Heights', 'Kingsbridge Heights',
       'Van Nest-Morris Park-Westchester Square',
       'Melrose South-Mott Haven North',
       'East New York (Pennsylvania Ave)', 'Bath Beach',
       'Seagate-Coney Island', 'Rossville-Woodrow', 'East Village',
       'Cypress Hills-City Line', 'Canarsie', 'Sunset Park West',
       'Washington Heights South',
       'Charleston-Richmond Valley-Tottenville', 'Kew Gardens Hills',
       'Pelham Bay-Country Club-City Island', 'Williamsburg',
       'East Harlem South', 'Woodside', 'New Brighton-Silver Lake',
       'Bellerose', 'Crotona Park East', 'Dyker Heights', 'Elmhurst',
       "Mariner's Harbor-Arlington-Port Ivory-Graniteville",
       'Glen Oaks-Floral Park-New Hyde Park', 'Crown Heights South',
       'Hamilton Heights', 'South Ozone Park', 'Manhattanville',
       'Ft. Totten-Bay Terrace-Clearview', 'Longwood', 'Cambria Heights',
       'Stapleton-Rosebank', 'East Flatbush-Farragut', 'West Brighton',
       'Mott Haven-Port Morris',
       'Soundview-Castle Hill-Clason Point-Harding Park',
       'DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill',
       'West Concourse', 'Bedford Park-Fordham North', 'Rosedale',
       'Spuyten Duyvil-Kingsbridge', 'Ozone Park', 'Marble Hill-Inwood',
       'Hunts Point', 'West New Brighton-New Brighton-St. George',
       'Briarwood-Jamaica Hills',
       'Queensbridge-Ravenswood-Long Island City', 'Windsor Terrace',
       'Williamsbridge-Olinville', 'Washington Heights North',
       'East Flushing', 'Pomonok-Flushing Heights-Hillcrest',
       'East Concourse-Concourse Village',
       'North Riverdale-Fieldston-Riverdale',
       'Brooklyn Heights-Cobble Hill', 'Port Richmond',
       'Grymes Hill-Clifton-Fox Hills', 'East Harlem North',
       'North Corona', 'Morrisania-Melrose', 'Soundview-Bruckner',
       'Allerton-Pelham Gardens', 'Jamaica', 'Parkchester',
       'Central Harlem North-Polo Grounds', 'Co-op City',
       'Middle Village', 'Hollis', 'Baisley Park', 'Maspeth',
       'South Jamaica', 'Westchester-Unionport',
       'Springfield Gardens North', 'Starrett City', 'Bronxdale'],
      dtype=object)

In [11]:
#drop of the state columns (only one New-York value) and the_geom because we have lat and lon in 2 others columns
datasetLT = datasetLT.drop(['state', 'the_geom'], axis=1)
datasetLT

,created_at,tree_id,block_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,cncldist,st_assem,st_senate,nta,nta_name,boro_ct,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,29,28,16,QN17,Forest Hills,4073900,40.723092,-73.844215,1.027431e+06,202756.768749
1,09/03/2015,200540,315986,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,19,27,11,QN49,Whitestone,4097300,40.794111,-73.818679,1.034456e+06,228644.837379
2,09/05/2015,204026,218365,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,34,50,18,BK90,East Williamsburg,3044900,40.717581,-73.936608,1.001823e+06,200716.891267
3,09/05/2015,204337,217969,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,34,53,18,BK90,East Williamsburg,3044900,40.713537,-73.934456,1.002420e+06,199244.253136
4,08/30/2015,189565,223043,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,39,44,21,BK37,Park Slope-Gowanus,3016500,40.666778,-73.975979,9.909138e+05,182202.425999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,10/08/2015,299309,409877,7,0,OnCurb,Alive,Fair,Pyrus calleryana,Callery pear,...,51,62,24,SI11,Charleston-Richmond Valley-Tottenville,5024402,40.502853,-74.247622,9.153862e+05,122576.815592
99996,10/08/2015,299310,409877,7,0,OnCurb,Alive,Good,Pyrus calleryana,Callery pear,...,51,62,24,SI11,Charleston-Richmond Valley-Tottenville,5024402,40.502796,-74.247602,9.153918e+05,122556.144045
99997,10/10/2015,307148,323051,3,0,OnCurb,Alive,Good,Pyrus calleryana,Callery pear,...,19,26,11,QN45,Douglas Manor-Douglaston-Little Neck,4148300,40.777061,-73.751294,1.053132e+06,222478.970118
99998,10/08/2015,297724,415760,5,0,OnCurb,Alive,Good,Pyrus calleryana,Callery pear,...,51,64,24,SI54,Great Kills,5013203,40.551193,-74.145996,9.436777e+05,140124.806743
99999,10/02/2015,277768,100613,8,0,OnCurb,Alive,Good,Pyrus calleryana,Callery pear,...,1,66,26,MN25,Battery Park City-Lower Manhattan,1031703,40.717427,-74.013589,9.804829e+05,200654.644016

In [12]:
#Transform of the datetime object to datetime type
datasetLT['created_at'] = pd.to_datetime(datasetLT['created_at'], 
 format = '%m/%d/%Y')

#Creation of 3 new columns
datasetLT['Year']=datasetLT['created_at'].dt.year
datasetLT['Month']=datasetLT['created_at'].dt.month
datasetLT['Day']=datasetLT['created_at'].dt.day
datasetLT

,created_at,tree_id,block_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,nta,nta_name,boro_ct,latitude,longitude,x_sp,y_sp,Year,Month,Day
0,2015-08-27,180683,348711,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,QN17,Forest Hills,4073900,40.723092,-73.844215,1.027431e+06,202756.768749,2015,8,27
1,2015-09-03,200540,315986,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,QN49,Whitestone,4097300,40.794111,-73.818679,1.034456e+06,228644.837379,2015,9,3
2,2015-09-05,204026,218365,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,BK90,East Williamsburg,3044900,40.717581,-73.936608,1.001823e+06,200716.891267,2015,9,5
3,2015-09-05,204337,217969,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,BK90,East Williamsburg,3044900,40.713537,-73.934456,1.002420e+06,199244.253136,2015,9,5
4,2015-08-30,189565,223043,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,BK37,Park Slope-Gowanus,3016500,40.666778,-73.975979,9.909138e+05,182202.425999,2015,8,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2015-10-08,299309,409877,7,0,OnCurb,Alive,Fair,Pyrus calleryana,Callery pear,...,SI11,Charleston-Richmond Valley-Tottenville,5024402,40.502853,-74.247622,9.153862e+05,122576.815592,2015,10,8
99996,2015-10-08,299310,409877,7,0,OnCurb,Alive,Good,Pyrus calleryana,Callery pear,...,SI11,Charleston-Richmond Valley-Tottenville,5024402,40.502796,-74.247602,9.153918e+05,122556.144045,2015,10,8
99997,2015-10-10,307148,323051,3,0,OnCurb,Alive,Good,Pyrus calleryana,Callery pear,...,QN45,Douglas Manor-Douglaston-Little Neck,4148300,40.777061,-73.751294,1.053132e+06,222478.970118,2015,10,10
99998,2015-10-08,297724,415760,5,0,OnCurb,Alive,Good,Pyrus calleryana,Callery pear,...,SI54,Great Kills,5013203,40.551193,-74.145996,9.436777e+05,140124.806743,2015,10,8
99999,2015-10-02,277768,100613,8,0,OnCurb,Alive,Good,Pyrus calleryana,Callery pear,...,MN25,Battery Park City-Lower Manhattan,1031703,40.717427,-74.013589,9.804829e+05,200654.644016,2015,10,2

In [13]:
#get rid of the left and right space in all the dataset
datasetLT.columns = datasetLT.columns.str.strip()

In [14]:
datasetLT.dtypes

created_at    datetime64[ns]
tree_id                int64
block_id               int64
tree_dbh               int64
stump_diam             int64
curb_loc              object
status                object
health                object
spc_latin             object
spc_common            object
steward               object
guards                object
sidewalk              object
user_type             object
problems              object
root_stone            object
root_grate            object
root_other            object
trnk_wire             object
trnk_light            object
trnk_other            object
brnch_ligh            object
brnch_shoe            object
brnch_othe            object
address               object
zipcode                int64
zip_city              object
cb_num                 int64
borocode               int64
boroname              object
cncldist               int64
st_assem               int64
st_senate              int64
nta                   object
nta_name              object
boro_ct                int64
latitude             float64
longitude            float64
x_sp                 float64
y_sp                 float64
Year                   int64
Month                  int64
Day                    int64
dtype: object

In [15]:
#tranforming of one column with OrdinalEncoder of Scikit Learn 
#that ML algorithms will assume that two nearby
#values are more similar than two distant values. This may be fine in some cases (e.g.,
#for ordered categories such as “bad”, “average”, “good”, “excellent”)
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
datasetLT_health_cat = datasetLT[['health']]
datasetLT_health_cat_encoded = ordinal_encoder.fit_transform(datasetLT_health_cat)
datasetLT_health_cat_encoded[:10]
   
#Check of categories encoded
ordinal_encoder.categories_

[array(['Fair', 'Good', 'Poor', 'Unknown'], dtype=object)]

In [16]:
datasetLT[['health']] = datasetLT_health_cat_encoded
datasetLT.head()

,created_at,tree_id,block_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,nta,nta_name,boro_ct,latitude,longitude,x_sp,y_sp,Year,Month,Day
0,2015-08-27,180683,348711,3,0,OnCurb,Alive,0.0,Acer rubrum,red maple,...,QN17,Forest Hills,4073900,40.723092,-73.844215,1.027431e+06,202756.768749,2015,8,27
1,2015-09-03,200540,315986,21,0,OnCurb,Alive,0.0,Quercus palustris,pin oak,...,QN49,Whitestone,4097300,40.794111,-73.818679,1.034456e+06,228644.837379,2015,9,3
2,2015-09-05,204026,218365,3,0,OnCurb,Alive,1.0,Gleditsia triacanthos var. inermis,honeylocust,...,BK90,East Williamsburg,3044900,40.717581,-73.936608,1.001823e+06,200716.891267,2015,9,5
3,2015-09-05,204337,217969,10,0,OnCurb,Alive,1.0,Gleditsia triacanthos var. inermis,honeylocust,...,BK90,East Williamsburg,3044900,40.713537,-73.934456,1.002420e+06,199244.253136,2015,9,5
4,2015-08-30,189565,223043,21,0,OnCurb,Alive,1.0,Tilia americana,American linden,...,BK37,Park Slope-Gowanus,3016500,40.666778,-73.975979,9.909138e+05,182202.425999,2015,8,30

In [17]:
#checking of the value of curb_loc
datasetLT.curb_loc.unique()

array(['OnCurb', 'OffsetFromCurb'], dtype=object)

In [18]:
#Apply yes to all OnCurb values with a lambda function
datasetLT['curb_loc'] = datasetLT['curb_loc'].apply(lambda x : "yes" if 'OnCurb' in x else "no")
datasetLT['curb_loc']

0        yes
1        yes
2        yes
3        yes
4        yes
        ...
99995    yes
99996    yes
99997    yes
99998    yes
99999    yes
Name: curb_loc, Length: 100000, dtype: object

In [19]:
#Apply get_dummies to replace Yes, No by binary values 
df = pd.get_dummies(datasetLT.curb_loc, prefix='OnCurb', drop_first="True")
df.rename(columns={"OnCurb_yes" : "OnCurb"})
datasetLT['curb_loc'] = df

In [20]:
datasetLT.head()

,created_at,tree_id,block_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,nta,nta_name,boro_ct,latitude,longitude,x_sp,y_sp,Year,Month,Day
0,2015-08-27,180683,348711,3,0,1,Alive,0.0,Acer rubrum,red maple,...,QN17,Forest Hills,4073900,40.723092,-73.844215,1.027431e+06,202756.768749,2015,8,27
1,2015-09-03,200540,315986,21,0,1,Alive,0.0,Quercus palustris,pin oak,...,QN49,Whitestone,4097300,40.794111,-73.818679,1.034456e+06,228644.837379,2015,9,3
2,2015-09-05,204026,218365,3,0,1,Alive,1.0,Gleditsia triacanthos var. inermis,honeylocust,...,BK90,East Williamsburg,3044900,40.717581,-73.936608,1.001823e+06,200716.891267,2015,9,5
3,2015-09-05,204337,217969,10,0,1,Alive,1.0,Gleditsia triacanthos var. inermis,honeylocust,...,BK90,East Williamsburg,3044900,40.713537,-73.934456,1.002420e+06,199244.253136,2015,9,5
4,2015-08-30,189565,223043,21,0,1,Alive,1.0,Tilia americana,American linden,...,BK37,Park Slope-Gowanus,3016500,40.666778,-73.975979,9.909138e+05,182202.425999,2015,8,30

In [21]:
#Getting binary values of nta_name columns with OneHotEncoder of Scikit Learn
from sklearn.preprocessing import OneHotEncoder
cat_encoder = OneHotEncoder()
datasetLT_nta_name_cat = datasetLT[['nta_name']]
datasetLT_nta_name_cat_1hot = cat_encoder.fit_transform(datasetLT_nta_name_cat)

#check of the matrix type (spare matrix)
datasetLT_nta_name_cat_1hot

<100000x188 sparse matrix of type '<class 'numpy.float64'>'
	with 100000 stored elements in Compressed Sparse Row format>

In [23]:
#Check of categories encoded
cat_encoder.categories_

[array(['Allerton-Pelham Gardens',
        "Annadale-Huguenot-Prince's Bay-Eltingville", 'Arden Heights',
        'Astoria', 'Auburndale', 'Baisley Park', 'Bath Beach',
        'Battery Park City-Lower Manhattan', 'Bay Ridge',
        'Bayside-Bayside Hills', 'Bedford', 'Bedford Park-Fordham North',
        'Bellerose', 'Belmont', 'Bensonhurst East', 'Bensonhurst West',
        'Borough Park',
        'Breezy Point-Belle Harbor-Rockaway Park-Broad Chan',
        'Briarwood-Jamaica Hills', 'Brighton Beach', 'Bronxdale',
        'Brooklyn Heights-Cobble Hill', 'Brownsville', 'Bushwick North',
        'Bushwick South', 'Cambria Heights', 'Canarsie',
        'Carroll Gardens-Columbia Street-Red Hook',
        'Central Harlem North-Polo Grounds', 'Central Harlem South',
        'Charleston-Richmond Valley-Tottenville', 'Chinatown',
        'Claremont-Bathgate', 'Clinton', 'Clinton Hill', 'Co-op City',
        'College Point', 'Corona', 'Crotona Park East',
        'Crown Heights North', 'Crown Heights South',
        'Cypress Hills-City Line',
        'DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill',
        'Douglas Manor-Douglaston-Little Neck', 'Dyker Heights',
        'East Concourse-Concourse Village', 'East Elmhurst',
        'East Flatbush-Farragut', 'East Flushing', 'East Harlem North',
        'East Harlem South', 'East New York',
        'East New York (Pennsylvania Ave)', 'East Tremont', 'East Village',
        'East Williamsburg', 'Eastchester-Edenwald-Baychester', 'Elmhurst',
        'Elmhurst-Maspeth', 'Erasmus', 'Far Rockaway-Bayswater',
        'Flatbush', 'Flatlands', 'Flushing', 'Fordham South',
        'Forest Hills', 'Fort Greene', 'Fresh Meadows-Utopia',
        'Ft. Totten-Bay Terrace-Clearview',
        'Georgetown-Marine Park-Bergen Beach-Mill Basin',
        'Glen Oaks-Floral Park-New Hyde Park', 'Glendale', 'Gramercy',
        'Grasmere-Arrochar-Ft. Wadsworth', 'Gravesend', 'Great Kills',
        'Greenpoint', 'Grymes Hill-Clifton-Fox Hills', 'Hamilton Heights',
        'Hammels-Arverne-Edgemere', 'Highbridge', 'Hollis', 'Homecrest',
        'Hudson Yards-Chelsea-Flatiron-Union Square',
        'Hunters Point-Sunnyside-West Maspeth', 'Hunts Point',
        'Jackson Heights', 'Jamaica', 'Jamaica Estates-Holliswood',
        'Kensington-Ocean Parkway', 'Kew Gardens', 'Kew Gardens Hills',
        'Kingsbridge Heights', 'Laurelton', 'Lenox Hill-Roosevelt Island',
        'Lincoln Square', 'Lindenwood-Howard Beach', 'Longwood',
        'Lower East Side', 'Madison', 'Manhattanville',
        'Marble Hill-Inwood',
        "Mariner's Harbor-Arlington-Port Ivory-Graniteville", 'Maspeth',
        'Melrose South-Mott Haven North', 'Middle Village',
        'Midtown-Midtown South', 'Midwood', 'Morningside Heights',
        'Morrisania-Melrose', 'Mott Haven-Port Morris', 'Mount Hope',
        'Murray Hill', 'Murray Hill-Kips Bay', 'New Brighton-Silver Lake',
        'New Dorp-Midland Beach', 'New Springville-Bloomfield-Travis',
        'North Corona', 'North Riverdale-Fieldston-Riverdale',
        'North Side-South Side', 'Norwood', 'Oakland Gardens',
        'Oakwood-Oakwood Beach', 'Ocean Hill', 'Ocean Parkway South',
        'Old Astoria', 'Old Town-Dongan Hills-South Beach', 'Ozone Park',
        'Park Slope-Gowanus', 'Parkchester',
        'Pelham Bay-Country Club-City Island', 'Pelham Parkway',
        'Pomonok-Flushing Heights-Hillcrest', 'Port Richmond',
        'Prospect Heights', 'Prospect Lefferts Gardens-Wingate',
        'Queens Village', 'Queensboro Hill',
        'Queensbridge-Ravenswood-Long Island City', 'Rego Park',
        'Richmond Hill', 'Ridgewood', 'Rosedale', 'Rossville-Woodrow',
        'Rugby-Remsen Village', 'Schuylerville-Throgs Neck-Edgewater Park',
        'Seagate-Coney Island',
        'Sheepshead Bay-Gerritsen Beach-Manhattan Beach',
        'SoHo-TriBeCa-Civic Center-Little Italy', 'Soundview-Bruckner',
        'Soundview-Castle Hill-Clason Point-Harding Park', 'South Jamaica',
        'South Ozone Park', 'Springfield Gardens North',
        'Springfield Gardens South-Brookville',
        'Spuyten Duyvil-Kingsbridge', 'St. Albans', 'Stapleton-Rosebank',
        'Starrett City', 'Steinway', 'Stuyvesant Heights',
        'Stuyvesant Town-Cooper Village', 'Sunset Park East',
        'Sunset Park West',
        'Todt Hill-Emerson Hill-Heartland Village-Lighthous',
        'Turtle Bay-East Midtown', 'University Heights-Morris Heights',
        'Upper East Side-Carnegie Hill', 'Upper West Side',
        'Van Cortlandt Village', 'Van Nest-Morris Park-Westchester Square',
        'Washington Heights North', 'Washington Heights South',
        'West Brighton', 'West Concourse', 'West Farms-Bronx River',
        'West New Brighton-New Brighton-St. George', 'West Village',
        'Westchester-Unionport', 'Westerleigh', 'Whitestone',
        'Williamsbridge-Olinville', 'Williamsburg', 'Windsor Terrace',
        'Woodhaven', 'Woodlawn-Wakefield', 'Woodside', 'Yorkville'],
       dtype=object)]

In [24]:
#Join the new columns to the dataset
datasetLT= datasetLT.join(datasetLT_nta_name_cat_1hot)
datasetLT.head()

AttributeError: index not found

In [25]:
#New test with OrdinalEncoder
datasetLT_nta_name_cat_encoded = ordinal_encoder.fit_transform(datasetLT_nta_name_cat)

In [26]:
datasetLT[['nta_name']] = datasetLT_nta_name_cat_encoded
datasetLT.head()

,created_at,tree_id,block_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,nta,nta_name,boro_ct,latitude,longitude,x_sp,y_sp,Year,Month,Day
0,2015-08-27,180683,348711,3,0,1,Alive,0.0,Acer rubrum,red maple,...,QN17,65.0,4073900,40.723092,-73.844215,1.027431e+06,202756.768749,2015,8,27
1,2015-09-03,200540,315986,21,0,1,Alive,0.0,Quercus palustris,pin oak,...,QN49,180.0,4097300,40.794111,-73.818679,1.034456e+06,228644.837379,2015,9,3
2,2015-09-05,204026,218365,3,0,1,Alive,1.0,Gleditsia triacanthos var. inermis,honeylocust,...,BK90,55.0,3044900,40.717581,-73.936608,1.001823e+06,200716.891267,2015,9,5
3,2015-09-05,204337,217969,10,0,1,Alive,1.0,Gleditsia triacanthos var. inermis,honeylocust,...,BK90,55.0,3044900,40.713537,-73.934456,1.002420e+06,199244.253136,2015,9,5
4,2015-08-30,189565,223043,21,0,1,Alive,1.0,Tilia americana,American linden,...,BK37,128.0,3016500,40.666778,-73.975979,9.909138e+05,182202.425999,2015,8,30

In [27]:
datasetLT.dtypes

created_at    datetime64[ns]
tree_id                int64
block_id               int64
tree_dbh               int64
stump_diam             int64
curb_loc               uint8
status                object
health               float64
spc_latin             object
spc_common            object
steward               object
guards                object
sidewalk              object
user_type             object
problems              object
root_stone            object
root_grate            object
root_other            object
trnk_wire             object
trnk_light            object
trnk_other            object
brnch_ligh            object
brnch_shoe            object
brnch_othe            object
address               object
zipcode                int64
zip_city              object
cb_num                 int64
borocode               int64
boroname              object
cncldist               int64
st_assem               int64
st_senate              int64
nta                   object
nta_name             float64
boro_ct                int64
latitude             float64
longitude            float64
x_sp                 float64
y_sp                 float64
Year                   int64
Month                  int64
Day                    int64
dtype: object

In [28]:
columns_object_list = list(datasetLT.select_dtypes(['object']).columns)
columns_object_list

['status',
 'spc_latin',
 'spc_common',
 'steward',
 'guards',
 'sidewalk',
 'user_type',
 'problems',
 'root_stone',
 'root_grate',
 'root_other',
 'trnk_wire',
 'trnk_light',
 'trnk_other',
 'brnch_ligh',
 'brnch_shoe',
 'brnch_othe',
 'address',
 'zip_city',
 'boroname',
 'nta']